@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url(../images/backg.png);
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}
/*navbar*/
nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 0;
}
.logo {
  width: 160px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-family: "Urbanist";
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 10px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}
nav ul li a:hover {
  color: #400080;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-70%);
  background: #f1fcf8;
  transition: width 0.5s ease;
}
nav ul li a:hover::after {
  width: 70%;
}
/*text box*/
.container {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.text-box {
  color: #fff;
  bottom: 8%;
  margin-left: 63%;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.text-box h1 {
  font-size: 115px;
  line-height: 100px;
  margin: 10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.text-box h4 {
  font-size: 30px;
  font-weight: 100;
}
.text-box .row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 30px 10px;
}
.text-box a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 20px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.text-box a:hover {
  background: #000;
  border: #000;
  transition: all 0.5s ease;
}
.text-box a span {
  font-size: 30px;
  line-height: 15px;
  margin-left: 5px;
}
.text-box .row span {
  margin-top: 10px;
}
.social-icons {
  right: 5%;
  text-align: right;
  margin-bottom: 24px;
}
.social-icons a:hover {
  color: #f1fcf8;
}
.social-icons a {
  width: 25px;
  margin: 25px 8px;
  cursor: pointer;
}
footer {
  color: #f1fcf8;
  text-align: end;
  margin: 18px;
}
footer span {
  font-size: 18px;
}
/*responsivenes*/
/*smart phones*/
@media only screen and (max-device-width: 480px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
      url(../images/backg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  /*navbar*/
  nav {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    flex-direction: column;
  }
  .logo {
    color: #fff;
    justify-content: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    margin: 12px;
  }

  /*hero*/
  .container {
    margin: 4px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .text-box {
    margin: 8px;
    display: flex;
    justify-content: center;
    padding: 2px;
    flex-direction: column;
  }
  .text-box h1 {
    font-size: 75px;
    line-height: 80px;
  }
  .text-box h4 {
    font-size: 20px;
    text-align: start;
    margin: 12px;
  }
  .text-box .row {
    display: block;
    margin: 8px 5px;
    text-align: center;
  }
  .text-box a {
    margin: 8px;
  }
  .social-icons {
    margin: 12px;
  }
  footer {
    margin-top: 10px;
  }
}
/*tablet*/
@media only screen and (min-device-width: 480px) and (max-device-width: 1287px) {
  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  nav {
    justify-content: space-between;
  }
  /*hero section*/

  .text-box {
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: start;
    margin: 12px 32px;
  }
  .text-box h1 {
    font-size: 100px;
    line-height: 90px;
    margin: 4px;
  }
  .text-box h4 {
    font-size: 18px;
    padding: 4px;
  }
  .text-box .row {
    display: block;
    margin: 15px 5px;
    width: 40%;
    text-align: center;
  }
  .text-box a {
    margin: 12px;
  }
}
