@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url(../images/backg.png);
  background-size: cover;
  background-position: center;
  padding: 0 8%;
  position: relative;
}
/*navbar*/
nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 0;
}
.logo a {
  width: 160px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-family: "Urbanist";
  text-decoration: none;
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 10px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}
nav ul li a:hover {
  color: #400080;
}
nav ul .active {
  color: #400080;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-70%);
  background: #f1fcf8;
  transition: width 0.5s ease;
}
nav ul li a:hover::after {
  width: 70%;
}
/*about section*/
.section {
  width: 100%;
  height: 68vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1fcf8;
}
.container {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.content-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 16px;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #400080;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 18px;
}
.content-section .content ul {
  display: block;
}
.content-section .content li {
  text-align: start;
  font-size: large;
}

/*responsivenes*/
/*smart phones*/
@media only screen and (min-device-width: 280px) and (max-device-width: 480px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
      url(../images/backg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  /*navbar*/
  nav {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    flex-direction: column;
    position: relative;
  }
  .logo {
    color: #fff;
    justify-content: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    margin: 12px;
  }
  .section {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .container {
    flex-direction: column;
  }
  .content-section .title {
    font-size: 12px;
  }
  .content-section .content h3 {
    margin: 4px;
    padding: 0;
  }
  .content-section .content p {
    margin: 12px 2px;
    font-size: 16px;
  }
  .social-icons {
    margin: 12px;
  }
  footer {
    margin-top: 10px;
  }
}
/*tablet*/
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
  /*about section*/
  .section {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f1fcf8;
  }
  footer {
    margin-bottom: 8px;
    padding-bottom: 12px;
  }
}

/*footer*/
.social-icons {
  right: 5%;
  text-align: right;
  margin-bottom: 24px;
}
.social-icons a:hover {
  color: #f1fcf8;
}
.social-icons a {
  width: 25px;
  margin: 25px 8px;
  cursor: pointer;
}
footer {
  color: #f1fcf8;
  text-align: end;
  margin: 10px;
}
footer span {
  font-size: 18px;
}
